<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h3 style="color: white;font-family: verdana;background-color:blue;text-align: center;border: 5px solid black ">Admission Form</h3>
    <form action="/register" method="POST">
        Club Name:<br>
        <input type="text" name="club_name">
        <br>
        User name:<br>
        <input type="text" name="username">
        <br>
        User password:<br>
        <input type="password" name="password"><br><br>
        <input type="reset">
        <br><br>
        <fieldset>
          <legend>Personal Information:</legend>    
          Club head name:<br>
          <input type="text" name="club_head_name"><br>
          E-mail:<br>
          <input type="email" name="email">
          <br><br>
          Contact Number:<br>
          <input type="tel" name="contact"><br><br>
        </fieldset> 
          <br>
          <br>
          <input type="submit" value="submit">
          <br><br>
    </form> 

</body>
</html> 