body{
	background-image: url("/assets/images/resize2.jpeg") ;
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
}
.navbar{
  position: fixed;
  top: 0px;
  width: 100%;

  padding-top: 20px;
  padding-bottom: 20px;
  /*overflow: hidden;*/
  background-color: transparent;
  border: none;
  /*z-index: 2;*/
}

.navbar-inverse .navbar-nav>li>a {
	color: #101010;
}


#myfirstfont
{
    font-family: 'Pacifico', cursive;
}
s
